####################################
####### CONFIGURATION FILE #########
####################################

#COLORS
RED="\e[31m"
GREEN="\033[1;32m"
YELLOW="\e[33m"
BLUE="\e[34m"
MAGENTA="\e[95m"
CYAN="\e[36m"
DEFAULT="\e[39m"
BOLD="\e[1m"
NORMAL="\e[0m"

#PARAMETERS
dnsDictionary=YOUR DNS DICTIONARY
aquatoneTimeout=50000
dictionary=YOUR DICTIONARY
github_token=YOUR GITHUB TOKEN
massiveTime=3600
excludeStatus=404,403,401,503
burpCollaborator=YOUR BURP COLLABORATOR LINK
