####################################
####### CONFIGURATION FILE #########
####################################

# COLORS
RED="\e[31m"
GREEN="\033[1;32m"
YELLOW="\e[33m"
BLUE="\e[34m"
MAGENTA="\e[95m"
CYAN="\e[36m"
DEFAULT="\e[39m"
BOLD="\e[1m"
NORMAL="\e[0m"

####################################
########## PARAMETERS ##############
####################################

# Path to DNS wordlist
dnsDictionary="YOUR_DNS_DICTIONARY"

# Aquatone timeout (milliseconds)
aquatoneTimeout=50000

# Path to your main wordlist (e.g. SecLists)
dictionary="YOUR_DICTIONARY"

# GitHub Personal Access Token
github_token="YOUR_GITHUB_TOKEN"

# Maximum runtime for long scans (seconds)
massiveTime=3600

# HTTP status codes to ignore
excludeStatus="404,403,401,503"

# Burp Collaborator URL
burpCollaborator="YOUR_BURP_COLLABORATOR_LINK"